<div class="page-header">
	<h1><%= title %> <small>It's pretty nifty.</small></h1>
</div>

<form action="/create" method="post" accept-charset="utf-8">
	<input type="text" name="content" autocomplete="off" placeholder="Create a new todo." />
	<input type="submit" class="btn" value="Add" />
</form>

<h4>Current todos:</h4>
<% todos.forEach(function(todo) { %>
	<p>
	    <span>
			<a href="/edit/<%= todo._id %>" class="todo-item" title="Update this todo item"><%= todo.content %></a>
		</span>
		<span>
			<a href="/destroy/<%= todo._id %>" title="Delete this todo item">Completed</a>
		</span>
	</p>
<% }); %>